#geral .secao_borda {
    padding: 10px;
}

#geral .outline {
    padding: 4px;
}

#geral .paleta1 {
    background-color: #ffcc66;
}

#geral .back_padrao {
    background-color: white;
}

#geral .cor_branca {
    color: white;
}